<p id="notice"><%= notice %></p>

<h1>アイドル一覧</h1>

あ行<br>
<% @a_idollists.each do |a_idollist| %>
	<%= link_to a_idollist.idol_name, a_idollist %>
<% end %>
<br><br>

か行<br>
<% @ka_idollists.each do |ka_idollist| %>
        <%= link_to ka_idollist.idol_name, ka_idollist %>
<% end %>
<br><br>

さ行<br>
<% @sa_idollists.each do |sa_idollist| %>
        <%= link_to sa_idollist.idol_name, sa_idollist %>
<% end %>
<br><br>

た行<br>
<% @ta_idollists.each do |ta_idollist| %>
        <%= link_to ta_idollist.idol_name, ta_idollist %>
<% end %>
<br><br>

な行<br>
<% @na_idollists.each do |na_idollist| %>
        <%= link_to na_idollist.idol_name, na_idollist %>
<% end %>
<br><br>

は行<br>
<% @ha_idollists.each do |ha_idollist| %>
        <%= link_to ha_idollist.idol_name, ha_idollist %>
<% end %>
<br><br>

ま行<br>
<% @ma_idollists.each do |ma_idollist| %>
        <%= link_to ma_idollist.idol_name, ma_idollist %>
<% end %>
<br><br>

や行<br>
<% @ya_idollists.each do |ya_idollist| %>
        <%= link_to ya_idollist.idol_name, ya_idollist %>
<% end %>
<br><br>

ら行<br>
<% @ra_idollists.each do |ra_idollist| %>
        <%= link_to ra_idollist.idol_name, ra_idollist %>
<% end %>
<br><br>

わ行<br>
<% @wa_idollists.each do |wa_idollist| %>
        <%= link_to wa_idollist.idol_name, wa_idollist %>
<% end %>
<br><br>


