<p id="notice"><%= notice %></p>

<h1>カップサイズ一覧</h1>
Aカップ<br>
<!--　あ行 -->
<% if @a_acuplists.present? then %>
	<% @a_acuplists.each do |a_acuplist| %>
		<%= link_to a_acuplist.idol_name, a_acuplist %>
	<% end %>
<% end %>
<!--　か行 -->
<% if @ka_acuplists.present? then %>
        <% @ka_acuplists.each do |ka_acuplist| %>
                <%= link_to ka_acuplist.idol_name, ka_acuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_acuplists.present? then %>
        <% @sa_acuplists.each do |sa_acuplist| %>
                <%= link_to sa_acuplist.idol_name, sa_acuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_acuplists.present? then %>
        <% @ta_acuplists.each do |ta_acuplist| %>
                <%= link_to ta_acuplist.idol_name, ta_acuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_acuplists.present? then %>
        <% @na_acuplists.each do |na_acuplist| %>
                <%= link_to na_acuplist.idol_name, na_acuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_acuplists.present? then %>
        <% @ha_acuplists.each do |ha_acuplist| %>
                <%= link_to ha_acuplist.idol_name, ha_acuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_acuplists.present? then %>
        <% @ma_acuplists.each do |ma_acuplist| %>
                <%= link_to ma_acuplist.idol_name, ma_acuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_acuplists.present? then %>
        <% @ya_acuplists.each do |ya_acuplist| %>
                <%= link_to ya_acuplist.idol_name, ya_acuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_acuplists.present? then %>
        <% @ra_acuplists.each do |ra_acuplist| %>
                <%= link_to ra_acuplist.idol_name, ra_acuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_acuplists.present? then %>
        <% @wa_acuplists.each do |wa_acuplist| %>
                <%= link_to wa_acuplist.idol_name, wa_acuplist %>
        <% end %>
<% end %>
<br><br>


Bカップ<br>
<!-- あ行 -->
<% if @a_bcuplists.present? then %>
        <% @a_bcuplists.each do |a_bcuplist| %>
                <%= link_to a_bcuplist.idol_name, a_bcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_bcuplists.present? then %>
        <% @ka_bcuplists.each do |ka_bcuplist| %>
                <%= link_to ka_bcuplist.idol_name, ka_bcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_bcuplists.present? then %>
        <% @sa_bcuplists.each do |sa_bcuplist| %>
                <%= link_to sa_bcuplist.idol_name, sa_bcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_bcuplists.present? then %>
        <% @ta_bcuplists.each do |ta_bcuplist| %>
                <%= link_to ta_bcuplist.idol_name, ta_bcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_bcuplists.present? then %>
        <% @na_bcuplists.each do |na_bcuplist| %>
                <%= link_to na_bcuplist.idol_name, na_bcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_bcuplists.present? then %>
        <% @ha_bcuplists.each do |ha_bcuplist| %>
                <%= link_to ha_bcuplist.idol_name, ha_bcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_bcuplists.present? then %>
        <% @ma_bcuplists.each do |ma_bcuplist| %>
                <%= link_to ma_bcuplist.idol_name, ma_bcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_bcuplists.present? then %>
        <% @ya_bcuplists.each do |ya_bcuplist| %>
                <%= link_to ya_bcuplist.idol_name, ya_bcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_bcuplists.present? then %>
        <% @ra_bcuplists.each do |ra_bcuplist| %>
                <%= link_to ra_bcuplist.idol_name, ra_bcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_bcuplists.present? then %>
        <% @wa_bcuplists.each do |wa_bcuplist| %>
                <%= link_to wa_bcuplist.idol_name, wa_bcuplist %>
        <% end %>
<% end %>
<br><br>


Cカップ<br>
<!-- あ行 -->
<% if @a_ccuplists.present? then %>
        <% @a_ccuplists.each do |a_ccuplist| %>
                <%= link_to a_ccuplist.idol_name, a_ccuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_ccuplists.present? then %>
        <% @ka_ccuplists.each do |ka_ccuplist| %>
                <%= link_to ka_ccuplist.idol_name, ka_ccuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_ccuplists.present? then %>
        <% @sa_ccuplists.each do |sa_ccuplist| %>
                <%= link_to sa_ccuplist.idol_name, sa_ccuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_ccuplists.present? then %>
        <% @ta_ccuplists.each do |ta_ccuplist| %>
                <%= link_to ta_ccuplist.idol_name, ta_ccuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_ccuplists.present? then %>
        <% @na_ccuplists.each do |na_ccuplist| %>
                <%= link_to na_ccuplist.idol_name, na_ccuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_ccuplists.present? then %>
        <% @ha_ccuplists.each do |ha_ccuplist| %>
                <%= link_to ha_ccuplist.idol_name, ha_ccuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_ccuplists.present? then %>
        <% @ma_ccuplists.each do |ma_ccuplist| %>
                <%= link_to ma_ccuplist.idol_name, ma_ccuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_ccuplists.present? then %>
        <% @ya_ccuplists.each do |ya_ccuplist| %>
                <%= link_to ya_ccuplist.idol_name, ya_ccuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_ccuplists.present? then %>
        <% @ra_ccuplists.each do |ra_ccuplist| %>
                <%= link_to ra_ccuplist.idol_name, ra_ccuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_ccuplists.present? then %>
        <% @wa_ccuplists.each do |wa_ccuplist| %>
                <%= link_to wa_ccuplist.idol_name, wa_ccuplist %>
        <% end %>
<% end %>
<br><br>


Dカップ<br>
<!-- あ行 -->
<% if @a_dcuplists.present? then %>
        <% @a_dcuplists.each do |a_dcuplist| %>
                <%= link_to a_dcuplist.idol_name, a_dcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_dcuplists.present? then %>
        <% @ka_dcuplists.each do |ka_dcuplist| %>
                <%= link_to ka_dcuplist.idol_name, ka_dcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_dcuplists.present? then %>
        <% @sa_dcuplists.each do |sa_dcuplist| %>
                <%= link_to sa_dcuplist.idol_name, sa_dcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_dcuplists.present? then %>
        <% @ta_dcuplists.each do |ta_dcuplist| %>
                <%= link_to ta_dcuplist.idol_name, ta_dcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_dcuplists.present? then %>
        <% @na_dcuplists.each do |na_dcuplist| %>
                <%= link_to na_dcuplist.idol_name, na_dcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_dcuplists.present? then %>
        <% @ha_dcuplists.each do |ha_dcuplist| %>
                <%= link_to ha_dcuplist.idol_name, ha_dcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_dcuplists.present? then %>
        <% @ma_dcuplists.each do |ma_dcuplist| %>
                <%= link_to ma_dcuplist.idol_name, ma_dcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_dcuplists.present? then %>
        <% @ya_dcuplists.each do |ya_dcuplist| %>
                <%= link_to ya_dcuplist.idol_name, ya_dcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_dcuplists.present? then %>
        <% @ra_dcuplists.each do |ra_dcuplist| %>
                <%= link_to ra_dcuplist.idol_name, ra_dcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_dcuplists.present? then %>
        <% @wa_dcuplists.each do |wa_dcuplist| %>
                <%= link_to wa_dcuplist.idol_name, wa_dcuplist %>
        <% end %>
<% end %>
<br><br>


Eカップ<br>
<!-- あ行 -->
<% if @a_ecuplists.present? then %>
        <% @a_ecuplists.each do |a_ecuplist| %>
                <%= link_to a_ecuplist.idol_name, a_ecuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_ecuplists.present? then %>
        <% @ka_ecuplists.each do |ka_ecuplist| %>
                <%= link_to ka_ecuplist.idol_name, ka_ecuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_ecuplists.present? then %>
        <% @sa_ecuplists.each do |sa_ecuplist| %>
                <%= link_to sa_ecuplist.idol_name, sa_ecuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_ecuplists.present? then %>
        <% @ta_ecuplists.each do |ta_ecuplist| %>
                <%= link_to ta_ecuplist.idol_name, ta_ecuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_ecuplists.present? then %>
        <% @na_ecuplists.each do |na_ecuplist| %>
                <%= link_to na_ecuplist.idol_name, na_ecuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_ecuplists.present? then %>
        <% @ha_ecuplists.each do |ha_ecuplist| %>
                <%= link_to ha_ecuplist.idol_name, ha_ecuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_ecuplists.present? then %>
        <% @ma_ecuplists.each do |ma_ecuplist| %>
                <%= link_to ma_ecuplist.idol_name, ma_ecuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_ecuplists.present? then %>
        <% @ya_ecuplists.each do |ya_ecuplist| %>
                <%= link_to ya_ecuplist.idol_name, ya_ecuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_ecuplists.present? then %>
        <% @ra_ecuplists.each do |ra_ecuplist| %>
                <%= link_to ra_ecuplist.idol_name, ra_ecuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_ecuplists.present? then %>
        <% @wa_ecuplists.each do |wa_ecuplist| %>
                <%= link_to wa_ecuplist.idol_name, wa_ecuplist %>
        <% end %>
<% end %>
<br><br>


Fカップ<br>
<!-- あ行 -->
<% if @a_fcuplists.present? then %>
        <% @a_fcuplists.each do |a_fcuplist| %>
                <%= link_to a_fcuplist.idol_name, a_fcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_fcuplists.present? then %>
        <% @ka_fcuplists.each do |ka_fcuplist| %>
                <%= link_to ka_fcuplist.idol_name, ka_fcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_fcuplists.present? then %>
        <% @sa_fcuplists.each do |sa_fcuplist| %>
                <%= link_to sa_fcuplist.idol_name, sa_fcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_fcuplists.present? then %>
        <% @ta_fcuplists.each do |ta_fcuplist| %>
                <%= link_to ta_fcuplist.idol_name, ta_fcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_fcuplists.present? then %>
        <% @na_fcuplists.each do |na_fcuplist| %>
                <%= link_to na_fcuplist.idol_name, na_fcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_fcuplists.present? then %>
        <% @ha_fcuplists.each do |ha_fcuplist| %>
                <%= link_to ha_fcuplist.idol_name, ha_fcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_fcuplists.present? then %>
        <% @ma_fcuplists.each do |ma_fcuplist| %>
                <%= link_to ma_fcuplist.idol_name, ma_fcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_fcuplists.present? then %>
        <% @ya_fcuplists.each do |ya_fcuplist| %>
                <%= link_to ya_fcuplist.idol_name, ya_fcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_fcuplists.present? then %>
        <% @ra_fcuplists.each do |ra_fcuplist| %>
                <%= link_to ra_fcuplist.idol_name, ra_fcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_fcuplists.present? then %>
        <% @wa_fcuplists.each do |wa_fcuplist| %>
                <%= link_to wa_fcuplist.idol_name, wa_fcuplist %>
        <% end %>
<% end %>
<br><br>


Gカップ<br>
<!-- あ行 -->
<% if @a_gcuplists.present? then %>
        <% @a_gcuplists.each do |a_gcuplist| %>
                <%= link_to a_gcuplist.idol_name, a_gcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_gcuplists.present? then %>
        <% @ka_gcuplists.each do |ka_gcuplist| %>
                <%= link_to ka_gcuplist.idol_name, ka_gcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_gcuplists.present? then %>
        <% @sa_gcuplists.each do |sa_gcuplist| %>
                <%= link_to sa_gcuplist.idol_name, sa_gcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_gcuplists.present? then %>
        <% @ta_gcuplists.each do |ta_gcuplist| %>
                <%= link_to ta_gcuplist.idol_name, ta_gcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_gcuplists.present? then %>
        <% @na_gcuplists.each do |na_gcuplist| %>
                <%= link_to na_gcuplist.idol_name, na_gcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_gcuplists.present? then %>
        <% @ha_gcuplists.each do |ha_gcuplist| %>
                <%= link_to ha_gcuplist.idol_name, ha_gcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_gcuplists.present? then %>
        <% @ma_gcuplists.each do |ma_gcuplist| %>
                <%= link_to ma_gcuplist.idol_name, ma_gcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_gcuplists.present? then %>
        <% @ya_gcuplists.each do |ya_gcuplist| %>
                <%= link_to ya_gcuplist.idol_name, ya_gcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_gcuplists.present? then %>
        <% @ra_gcuplists.each do |ra_gcuplist| %>
                <%= link_to ra_gcuplist.idol_name, ra_gcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_gcuplists.present? then %>
        <% @wa_gcuplists.each do |wa_gcuplist| %>
                <%= link_to wa_gcuplist.idol_name, wa_gcuplist %>
        <% end %>
<% end %>
<br><br>


Hカップ<br>
<!-- あ行 -->
<% if @a_hcuplists.present? then %>
        <% @a_hcuplists.each do |a_hcuplist| %>
                <%= link_to a_hcuplist.idol_name, a_hcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_hcuplists.present? then %>
        <% @ka_hcuplists.each do |ka_hcuplist| %>
                <%= link_to ka_hcuplist.idol_name, ka_hcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_hcuplists.present? then %>
        <% @sa_hcuplists.each do |sa_hcuplist| %>
                <%= link_to sa_hcuplist.idol_name, sa_hcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_hcuplists.present? then %>
        <% @ta_hcuplists.each do |ta_hcuplist| %>
                <%= link_to ta_hcuplist.idol_name, ta_hcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_hcuplists.present? then %>
        <% @na_hcuplists.each do |na_hcuplist| %>
                <%= link_to na_hcuplist.idol_name, na_hcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_hcuplists.present? then %>
        <% @ha_hcuplists.each do |ha_hcuplist| %>
                <%= link_to ha_hcuplist.idol_name, ha_hcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_hcuplists.present? then %>
        <% @ma_hcuplists.each do |ma_hcuplist| %>
                <%= link_to ma_hcuplist.idol_name, ma_hcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_hcuplists.present? then %>
        <% @ya_hcuplists.each do |ya_hcuplist| %>
                <%= link_to ya_hcuplist.idol_name, ya_hcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_hcuplists.present? then %>
        <% @ra_hcuplists.each do |ra_hcuplist| %>
                <%= link_to ra_hcuplist.idol_name, ra_hcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_hcuplists.present? then %>
        <% @wa_hcuplists.each do |wa_hcuplist| %>
                <%= link_to wa_hcuplist.idol_name, wa_hcuplist %>
        <% end %>
<% end %>
<br><br>


Iカップ<br>
<!-- あ行 -->
<% if @a_icuplists.present? then %>
        <% @a_icuplists.each do |a_icuplist| %>
                <%= link_to a_icuplist.idol_name, a_icuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_icuplists.present? then %>
        <% @ka_icuplists.each do |ka_icuplist| %>
                <%= link_to ka_icuplist.idol_name, ka_icuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_icuplists.present? then %>
        <% @sa_icuplists.each do |sa_icuplist| %>
                <%= link_to sa_icuplist.idol_name, sa_icuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_icuplists.present? then %>
        <% @ta_icuplists.each do |ta_icuplist| %>
                <%= link_to ta_icuplist.idol_name, ta_icuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_icuplists.present? then %>
        <% @na_icuplists.each do |na_icuplist| %>
                <%= link_to na_icuplist.idol_name, na_icuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_icuplists.present? then %>
        <% @ha_icuplists.each do |ha_icuplist| %>
                <%= link_to ha_icuplist.idol_name, ha_icuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_icuplists.present? then %>
        <% @ma_icuplists.each do |ma_icuplist| %>
                <%= link_to ma_icuplist.idol_name, ma_icuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_icuplists.present? then %>
        <% @ya_icuplists.each do |ya_icuplist| %>
                <%= link_to ya_icuplist.idol_name, ya_icuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_icuplists.present? then %>
        <% @ra_icuplists.each do |ra_icuplist| %>
                <%= link_to ra_icuplist.idol_name, ra_icuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_icuplists.present? then %>
        <% @wa_icuplists.each do |wa_icuplist| %>
                <%= link_to wa_icuplist.idol_name, wa_icuplist %>
        <% end %>
<% end %>
<br><br>


Jカップ<br>
<!-- あ行 -->
<% if @a_jcuplists.present? then %>
        <% @a_jcuplists.each do |a_jcuplist| %>
                <%= link_to a_jcuplist.idol_name, a_jcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_jcuplists.present? then %>
        <% @ka_jcuplists.each do |ka_jcuplist| %>
                <%= link_to ka_jcuplist.idol_name, ka_jcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_jcuplists.present? then %>
        <% @sa_jcuplists.each do |sa_jcuplist| %>
                <%= link_to sa_jcuplist.idol_name, sa_jcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_jcuplists.present? then %>
        <% @ta_jcuplists.each do |ta_jcuplist| %>
                <%= link_to ta_jcuplist.idol_name, ta_jcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_jcuplists.present? then %>
        <% @na_jcuplists.each do |na_jcuplist| %>
                <%= link_to na_jcuplist.idol_name, na_jcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_jcuplists.present? then %>
        <% @ha_jcuplists.each do |ha_jcuplist| %>
                <%= link_to ha_jcuplist.idol_name, ha_jcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_jcuplists.present? then %>
        <% @ma_jcuplists.each do |ma_jcuplist| %>
                <%= link_to ma_jcuplist.idol_name, ma_jcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_jcuplists.present? then %>
        <% @ya_jcuplists.each do |ya_jcuplist| %>
                <%= link_to ya_jcuplist.idol_name, ya_jcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_jcuplists.present? then %>
        <% @ra_jcuplists.each do |ra_jcuplist| %>
                <%= link_to ra_jcuplist.idol_name, ra_jcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_jcuplists.present? then %>
        <% @wa_jcuplists.each do |wa_jcuplist| %>
                <%= link_to wa_jcuplist.idol_name, wa_jcuplist %>
        <% end %>
<% end %>
<br><br>


Kカップ<br>
<!-- あ行 -->
<% if @a_kcuplists.present? then %>
        <% @a_kcuplists.each do |a_kcuplist| %>
                <%= link_to a_kcuplist.idol_name, a_kcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_kcuplists.present? then %>
        <% @ka_kcuplists.each do |ka_kcuplist| %>
                <%= link_to ka_kcuplist.idol_name, ka_kcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_kcuplists.present? then %>
        <% @sa_kcuplists.each do |sa_kcuplist| %>
                <%= link_to sa_kcuplist.idol_name, sa_kcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_kcuplists.present? then %>
        <% @ta_kcuplists.each do |ta_kcuplist| %>
                <%= link_to ta_kcuplist.idol_name, ta_kcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_kcuplists.present? then %>
        <% @na_kcuplists.each do |na_kcuplist| %>
                <%= link_to na_kcuplist.idol_name, na_kcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_kcuplists.present? then %>
        <% @ha_kcuplists.each do |ha_kcuplist| %>
                <%= link_to ha_kcuplist.idol_name, ha_kcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_kcuplists.present? then %>
        <% @ma_kcuplists.each do |ma_kcuplist| %>
                <%= link_to ma_kcuplist.idol_name, ma_kcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_kcuplists.present? then %>
        <% @ya_kcuplists.each do |ya_kcuplist| %>
                <%= link_to ya_kcuplist.idol_name, ya_kcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_kcuplists.present? then %>
        <% @ra_kcuplists.each do |ra_kcuplist| %>
                <%= link_to ra_kcuplist.idol_name, ra_kcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_kcuplists.present? then %>
        <% @wa_kcuplists.each do |wa_kcuplist| %>
                <%= link_to wa_kcuplist.idol_name, wa_kcuplist %>
        <% end %>
<% end %>
<br><br>


Lカップ<br>
<!-- あ行 -->
<% if @a_lcuplists.present? then %>
        <% @a_lcuplists.each do |a_lcuplist| %>
                <%= link_to a_lcuplist.idol_name, a_lcuplist %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_lcuplists.present? then %>
        <% @ka_lcuplists.each do |ka_lcuplist| %>
                <%= link_to ka_lcuplist.idol_name, ka_lcuplist %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_lcuplists.present? then %>
        <% @sa_lcuplists.each do |sa_lcuplist| %>
                <%= link_to sa_lcuplist.idol_name, sa_lcuplist %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_lcuplists.present? then %>
        <% @ta_lcuplists.each do |ta_lcuplist| %>
                <%= link_to ta_lcuplist.idol_name, ta_lcuplist %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_lcuplists.present? then %>
        <% @na_lcuplists.each do |na_lcuplist| %>
                <%= link_to na_lcuplist.idol_name, na_lcuplist %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_lcuplists.present? then %>
        <% @ha_lcuplists.each do |ha_lcuplist| %>
                <%= link_to ha_lcuplist.idol_name, ha_lcuplist %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_lcuplists.present? then %>
        <% @ma_lcuplists.each do |ma_lcuplist| %>
                <%= link_to ma_lcuplist.idol_name, ma_lcuplist %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_lcuplists.present? then %>
        <% @ya_lcuplists.each do |ya_lcuplist| %>
                <%= link_to ya_lcuplist.idol_name, ya_lcuplist %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_lcuplists.present? then %>
        <% @ra_lcuplists.each do |ra_lcuplist| %>
                <%= link_to ra_lcuplist.idol_name, ra_lcuplist %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_lcuplists.present? then %>
        <% @wa_lcuplists.each do |wa_lcuplist| %>
                <%= link_to wa_lcuplist.idol_name, wa_lcuplist %>
        <% end %>
<% end %>
<br><br>

