<p id="notice"><%= notice %></p>

<h1>バストサイズ一覧</h1>
～79<br>
<!--　あ行 -->
<% if @a_79lists.present? then %>
	<% @a_79lists.each do |a_79list| %>
		<%= link_to a_79list.idol_name, a_79list %>
	<% end %>
<% end %>
<!-- か行 -->
<% if @ka_79lists.present? then %>
        <% @ka_79lists.each do |ka_79list| %>
                <%= link_to ka_79list.idol_name, ka_79list %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_79lists.present? then %>
        <% @sa_79lists.each do |sa_79list| %>
                <%= link_to sa_79list.idol_name, sa_79list %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_79lists.present? then %>
	<% @ta_79lists.each do |ta_79list| %>
			<%= link_to ta_79list.idol_name, ta_79list %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_79lists.present? then %>
        <% @na_79lists.each do |na_79list| %>
                <%= link_to na_79list.idol_name, na_79list %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_79lists.present? then %>
	<% @ha_79lists.each do |ha_79list| %>
			<%= link_to ha_79list.idol_name, ha_79list %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_79lists.present? then %>
        <% @ma_79lists.each do |ma_79list| %>
                <%= link_to ma_79list.idol_name, ma_79list %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_79lists.present? then %>
        <% @ya_79lists.each do |ya_79list| %>
                <%= link_to ya_79list.idol_name, ya_79list %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_79lists.present? then %>
        <% @ra_79lists.each do |ra_79list| %>
                <%= link_to ra_79list.idol_name, ra_79list %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_79lists.present? then %>
        <% @wa_79lists.each do |wa_79list| %>
                <%= link_to wa_79list.idol_name, wa_79list %>
        <% end %>
<% end %>
<br><br>


80～85<br>
<!--　あ行 -->
<% if @a_85lists.present? then %>
        <% @a_85lists.each do |a_85list| %>
                <%= link_to a_85list.idol_name, a_85list %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_85lists.present? then %>
        <% @ka_85lists.each do |ka_85list| %>
                <%= link_to ka_85list.idol_name, ka_85list %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_85lists.present? then %>
        <% @sa_85lists.each do |sa_85list| %>
                <%= link_to sa_85list.idol_name, sa_85list %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_85lists.present? then %>
        <% @ta_85lists.each do |ta_85list| %>
                        <%= link_to ta_85list.idol_name, ta_85list %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_85lists.present? then %>
        <% @na_85lists.each do |na_85list| %>
                <%= link_to na_85list.idol_name, na_85list %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_85lists.present? then %>
        <% @ha_85lists.each do |ha_85list| %>
                        <%= link_to ha_85list.idol_name, ha_85list %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_85lists.present? then %>
        <% @ma_85lists.each do |ma_85list| %>
                <%= link_to ma_85list.idol_name, ma_85list %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_85lists.present? then %>
        <% @ya_85lists.each do |ya_85list| %>
                <%= link_to ya_85list.idol_name, ya_85list %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_85lists.present? then %>
        <% @ra_85lists.each do |ra_85list| %>
                <%= link_to ra_85list.idol_name, ra_85list %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_85lists.present? then %>
        <% @wa_85lists.each do |wa_85list| %>
                <%= link_to wa_85list.idol_name, wa_85list %>
        <% end %>
<% end %>
<br><br>


86～90<br>
<!--　あ行 -->
<% if @a_90lists.present? then %>
        <% @a_90lists.each do |a_90list| %>
                <%= link_to a_90list.idol_name, a_90list %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_90lists.present? then %>
        <% @ka_90lists.each do |ka_90list| %>
                <%= link_to ka_90list.idol_name, ka_90list %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_90lists.present? then %>
        <% @sa_90lists.each do |sa_90list| %>
                <%= link_to sa_90list.idol_name, sa_90list %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_90lists.present? then %>
        <% @ta_90lists.each do |ta_90list| %>
                        <%= link_to ta_90list.idol_name, ta_90list %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_90lists.present? then %>
        <% @na_90lists.each do |na_90list| %>
                <%= link_to na_90list.idol_name, na_90list %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_90lists.present? then %>
        <% @ha_90lists.each do |ha_90list| %>
                        <%= link_to ha_90list.idol_name, ha_90list %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_90lists.present? then %>
        <% @ma_90lists.each do |ma_90list| %>
                <%= link_to ma_90list.idol_name, ma_90list %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_90lists.present? then %>
        <% @ya_90lists.each do |ya_90list| %>
                <%= link_to ya_90list.idol_name, ya_90list %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_90lists.present? then %>
        <% @ra_90lists.each do |ra_90list| %>
                <%= link_to ra_90list.idol_name, ra_90list %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_90lists.present? then %>
        <% @wa_90lists.each do |wa_90list| %>
                <%= link_to wa_90list.idol_name, wa_90list %>
        <% end %>
<% end %>
<br><br>


91～<br>
<!--　あ行 -->
<% if @a_91lists.present? then %>
        <% @a_91lists.each do |a_91list| %>
                <%= link_to a_91list.idol_name, a_91list %>
        <% end %>
<% end %>
<!-- か行 -->
<% if @ka_91lists.present? then %>
        <% @ka_91lists.each do |ka_91list| %>
                <%= link_to ka_91list.idol_name, ka_91list %>
        <% end %>
<% end %>
<!-- さ行 -->
<% if @sa_91lists.present? then %>
        <% @sa_91lists.each do |sa_91list| %>
                <%= link_to sa_91list.idol_name, sa_91list %>
        <% end %>
<% end %>
<!-- た行 -->
<% if @ta_91lists.present? then %>
        <% @ta_91lists.each do |ta_91list| %>
                        <%= link_to ta_91list.idol_name, ta_91list %>
        <% end %>
<% end %>
<!-- な行 -->
<% if @na_91lists.present? then %>
        <% @na_91lists.each do |na_91list| %>
                <%= link_to na_91list.idol_name, na_91list %>
        <% end %>
<% end %>
<!-- は行 -->
<% if @ha_91lists.present? then %>
        <% @ha_91lists.each do |ha_91list| %>
                        <%= link_to ha_91list.idol_name, ha_91list %>
        <% end %>
<% end %>
<!-- ま行 -->
<% if @ma_91lists.present? then %>
        <% @ma_91lists.each do |ma_91list| %>
                <%= link_to ma_91list.idol_name, ma_91list %>
        <% end %>
<% end %>
<!-- や行 -->
<% if @ya_91lists.present? then %>
        <% @ya_91lists.each do |ya_91list| %>
                <%= link_to ya_91list.idol_name, ya_91list %>
        <% end %>
<% end %>
<!-- ら行 -->
<% if @ra_91lists.present? then %>
        <% @ra_91lists.each do |ra_91list| %>
                <%= link_to ra_91list.idol_name, ra_91list %>
        <% end %>
<% end %>
<!-- わ行 -->
<% if @wa_91lists.present? then %>
        <% @wa_91lists.each do |wa_91list| %>
                <%= link_to wa_91list.idol_name, wa_91list %>
        <% end %>
<% end %>
<br><br>

